@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error 500</h1>
<h2 class="text-danger">An error occured during the process. Please check error logs to get detailed information.</h2>
<div>
    <a asp-controller="Home" asp-action="Index">Back to the Home</a>
</div>
